.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #4F6F52;
    height: 40px;
    width: 100%;
}
.navbar-logo{
    gap: 20px;
    font-weight: 500;
    margin-left: 200px;
    display: flex;
    align-items: center;
    
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-weight: 500;
    color: white;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.login-cart{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
}
.cart-count{
    width: 20px;
    user-select: none;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 15px;
    font-size: 15px;
    background: #E4CFBB;
    color: black;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.login-ack{
    color: white;
    text-align: right;
    padding-top: 10px;
    margin-right: -200px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: capitalize;
}